* {
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
#SearchBar {
  width: 650px;
  height: 50px;
  margin-top: 15%;
  border-radius: 90px;
  background-color: white;
}
#SearchIcon {
  width: 100px;
  height: 100%;
  border: none;
  float: right;
  background-size: contain;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  background-image: url(Site-img/Search-icon.png);
}
#SearchIcon:hover {
  background-color: lightgrey;
}
#SearchText {
  width: 75%;
  height: 100%;
  border: none;
  font-size: larger;
}
#DropList {
  top: -30%;
  position: relative;
}
#DropList li {
  padding: 1%;
  width: 550px;
  height: 40px;
  color: grey;
  font-size: 24px;
  list-style: none;
  background-color: white;
}
#DropList :hover {
  color: white;
  background-color: grey;
}
